<h1>Data Bind Test View</h1>
<ul class="book-summary">
  <li>Title: <span class="testvisible" data-bind="title">{title}</span></li>
  <li>Author: <span data-bind="author">{author}</span></li>
  <li>Published: <span data-bind="published">{published}</span></li>
</ul>
<ul class="book-detail">
  <li>Title: <span data-bind="title">{title}</span></li>
  <li>Author: <span data-bind="author">{author}</span></li>
  <li>Published: <span data-bind="published">{published}</span></li>
</ul>
<div class="test-data-view">
</div>